@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
    ul, ol{
        list-style: revert;
        font-size: medium;
    }
    p{
        font-size:medium;
    }
    li{
        margin-left: lem;
    }
}